@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header
{
    background-color: rgb(233, 233, 233);
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 10px 150px ;
}
body{
    background-color: rgb(228, 228, 228);
}
.logo{
    text-decoration: none;
    color :rgb(0, 89, 255);text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
   
}
@keyframes mymove {
    0%   {right: 0px;}
    25%  {right: 200px;}
    75%  {right: 50px}
    100% {right: 100px;}
  }


.navigation a {
    color: rgb(0, 89, 255);
    text-decoration: none;
    
    font-size: 1.1em;
    font-weight: 500;
     padding-left: 30px;


}

.navigation a:hover{
    transition: all ease  0.5s;
color:rgb(106, 106, 106) ;



}
.logo:hover{
    color:rgb(106, 106, 106) ;
    transition: all ease  0.5s;


}
.lott{
    margin-left: 640px;
    position:absolute;

    z-index: 6;
  }

section
{
    padding: 100px 200px;
}

  
.main{
   position:relative;

    z-index: 4;
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
background: url(images/istockphoto-1191184417-612x612.jpeg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.main h2{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.2em;
}
.main h2 span{
    display: inline-block;
    width: 100%;
    color: blue;
    font-size: 3em;
    font-weight: 600;
    animation-name: example;
  animation-duration: 4.5s ;
  animation-iteration-count: 1;
}
@keyframes example {
    from {color: aliceblue;}
    
    to {color: blue;}
  }

  @keyframes dddd {
    from {color: blue;}

    
    to {color: aliceblue;}
  }
.main h3{ 
    animation-name: dddd;
    animation-duration: 4.5s ;
    animation-iteration-count: 1; 


    max-width: 700px ;
color: rgb(0, 0, 0);
font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
}
.main-btn{
    color: aliceblue;
    background-color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
padding: 0.9375em;
padding-left: 1.7em; 
padding-right: 1.7em;
letter-spacing: 2px;
border-radius: 15px;
margin-bottom: 40px;
transition: all ease  0.5s;
}
.main-btn:hover{
    background-color:rgb(0, 42, 120) ;
    color: white;
    letter-spacing: 4px;
    transform: scale(1.1);
    border-color: rgb(255, 255, 255);

}
.social-icons{
    margin-top: 30px;
}
.social-icons a {
    font-size: 1.7em;
    color:white ;
    padding-right:180px;
    
}
.social-icons :hover{

transform: scale(1.4);
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(0, 89, 255);
    font-weight: 800;
    font-size: 2.2em;
    margin-bottom: 30px;

}
.content{
     display: flex;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 19em;
    box-shadow: 5px 10px 25px rgba(1 1 1/20%); 
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease  ;
    
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color:rgb(0, 89, 255) ;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    
    color:rgb(0, 89, 255) ;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    
} #img{
margin-bottom: 29px;
}
.icon img{
   width: 180px;
   margin-bottom: -50px;
   
}
.projects{
    background-color: rgb(6, 3, 44);
}
.projects .content{
    margin-top: 30px;

}.projct-card{
    padding: 10px;
    background-color: rgb(202, 202, 202);
    border: 3px solid white;
    min-height: 14em;
    width: 21em;
    overflow: hidden;
margin: 10px;
transition: all ease 0.7s;
}.projct-card:hover{
    transform: scale(1.1);
}
.project-img img{
width: 100%;
}
.projct-card .project-img :hover{
    opacity: 0.9 ;

}
 .imgd {

   margin-bottom: -13px;
}
.projct-cardd{
    
    padding: 10px;
    background-color: rgb(202, 202, 202);
    border: 3px solid white;
    min-height: 14em;
    width: 21em;
    overflow: hidden;
margin: 10px;
transition: all ease 0.7s;
}.projct-cardd:hover{
    transform: scale(1.1);
}

.projct-cardd .project-img :hover{
    opacity: 0.9 ;

}



.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: #000;
}
.project-titel{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;

}
  .more-details{
    text-decoration: none;
    color: rgb(0, 89, 255);
    transition: all ease 0.7s;
}
.more-details:hover{
     color:rgb(37, 15, 128) ;
}
.cards-contact .icon{
    font-size: 4em;
}
footer{
background-color: #000016;
color: white;
padding: 2em;
display: flex;
justify-content: space-between;
}
.social-icon a {
    color: white;
    margin-right: 1em;
}
.social-icon a :hover{
    
    transform: scale(1.3);
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;

}
.footer-title span{
    color:rgb(0, 89, 255) ;
}
@media ( max-width:1023px  ){

    header{
        padding:12px 20px ;

    }
    .navigation a{
        padding-left: 10px;
    }
    .title
    {
        font-size:  1.8em;
    }
    section{padding: 80px 20px;

    }.main h2{  
font-size: 1em;
    }
.main h3{
    font-size: 1.6em;
}
.content{
    flex-direction: column;
    align-items: center;
}

}@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1.4em;
    }
    .social-icons a{
        padding-right: 80px;
    }
}
@media(max-width:300px){
    body{font-size: 10px;
    
    }
    .social-icons a{
        padding-right: 26px;
    }
}
